beautifulsoup4==4.13.3
certifi>=2025.4.26
charset-normalizer>=3.4.2
dataclasses-json==0.6.7
ffmpy==0.5.0
idna==3.10
importlib_metadata==8.6.1
Jinja2==3.1.6
jsoneditor==1.6.0
jsonpickle==4.0.5
Markdown==3.8
markdown_analysis==0.1.5
markdownify==1.1.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mypy-extensions==1.0.0
packaging==24.2
pillow==11.1.0
pyasn1==0.6.1
pyperclip==1.9.0
FreeSimpleGUI==5.1.1
PyYAML==6.0.2
requests>=2.32.4
rsa==4.9
six==1.17.0
soupsieve==2.6
typing-inspect==0.9.0
typing_extensions>=4.14.0
urllib3>=2.5.0
zipp==3.21.0
stellar-sdk==12.3.0
hvym_stellar==0.8